<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <layout type="QuoteCapture.Logging+ExtraPatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %5level - %message%newline" />
        <exceptionPattern value="%separator%newline%exception%newline%separator%newline" />
        <extensionPattern value="%separator%newline%message%newline%separator%newline" />
        <separator value="-------------------------------------------------------------------------------" />
        <footer value="***&#xD;&#xA;" />
      </layout>
      <file value="./var/QuoteCapture.Oanda.log.txt" />
      <preserveLogFileNameExtension value="true" />
      <maxSizeRollBackups value="-1" />
      <countDirection value="-1" />
      <rollingStyle value="once" />
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="QuoteCapture.Logging+ExtraPatternLayout">
        <conversionPattern value="%message%newline" />
        <exceptionPattern value="%separator%newline%exception%newline%separator%newline" />
        <extensionPattern value="%separator%newline%message%newline%separator%newline" />
        <separator value="-------------------------------------------------------------------------------" />
      </layout>
      <mapping>
        <foreColor value="Red, HighIntensity" />
        <level value="FATAL" />
      </mapping>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="ConsoleBeepAppender" type="QuoteCapture.Logging+ConsoleBeepAppender">
      <frequency value="2600" />
      <duration value="100" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="ConsoleBeepAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings configSource="Private.config" />
</configuration>
